<div class="container">
  <h1>Final Project</h1>

  <ul class="nav nav-tabs justify-content-around">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="/registration">Registration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="/users-list">Users List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="/admin-page">Admin Page</a>
    </li>
  </ul>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
